.content{
    margin-top: 175px;
}

.container{
    margin: 15px;
    background-color:beige;
}

.head-top{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;

}

.card-img img{
    width: 200px;
    
}
h2{
    top:100px
}